doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='google', value='notranslate')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='manifest', href='manifest.json')
    title!= titulo

  body.page
    .se-pre-con
    .navigation-bar
      .navigation-bar__item.left.quarter.float-left
      .navigation-bar__item.full.float-left.text-centering
        span.navigation-bar__title.navigation-bar__line-height.float-left
          strong Cambiar contrase침a
      .navigation-bar__item.right.quarter.float-left
        span.icon-button--quiet.navigation-bar__line-height.font-weight-500
    .main-image-wrapper
      img(src='img/security.png')
    form#form(action='/cambiar_password', method='POST')
      input#nueva_contrasena.text-input--underbar.pr-password(type='password', autocomplete='off', placeholder='Nueva contrase침a', value='', name='password')
      input#confirmar_contrasena.text-input--underbar(type='password', autocomplete='off', placeholder='Confirmar contrase침a', value='', name='password2')
      br
      button.button.login-button Enviar
      div(align='center')
        br
        p.p
        a.link(href='/') Atr치s
      
      
    

    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/onsen-css-components-default.css')
    link(rel='stylesheet', href='css/login.css')
    link(rel='stylesheet', type='text/css', href='css/sweetalert.css')
    link(rel='stylesheet', href='css/registro/reset.css')
    link(rel='stylesheet', type='text/css', href='css/registro/jquery.passwordRequirements.css')
    
    script(src='js/sweetalert.min.js')
    script(src='js/jquery-1.11.3.min.js')
    script(src='js/jquery/jquery.passwordRequirements.js')
    script(src='js/modernizr.js')
    script(src='js/cambiar_password.js')
