doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1= subject
      center
        img(src='https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/14955954_10210909221236135_2950808123978387954_n.jpg?oh=9e9852d487e20ccf70fdcd0eae2117fb&oe=58CFA8CC')
      p= text
