doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='google', value='notranslate')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='manifest', href='manifest.json')
    title!= titulo
  body.page
    .wait
    #banner.navigation-bar
      .navigation-bar__item.left.quarter.float-left
      .navigation-bar__item.full.float-left.text-centering
        span.navigation-bar__title.navigation-bar__line-height.float-left
          strong Registro Médico
      .navigation-bar__item.right.quarter.float-left
        span.icon-button--quiet.navigation-bar__line-height.font-weight-500
    .main-image-wrapper
     
    
    
    #form
      script.
          function soloLetras(e) {
          key = e.keyCode || e.which;
          tecla = String.fromCharCode(key).toLowerCase();
          letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
          especiales = [];
          tecla_especial = false
          for(var i in especiales) {
          if(key == especiales[i]) {
          tecla_especial = true;
          break;
          }
          }
          if(letras.indexOf(tecla) == -1 && !tecla_especial)
          return false;
          }
          function soloLetrasyNumeros(e) {
          key = e.keyCode || e.which;
          tecla = String.fromCharCode(key).toLowerCase();
          letras = "abcdefghijklmnñopqrstuvwxyz0123456789";
          especiales = [];
          tecla_especial = false
          for(var i in especiales) {
          if(key == especiales[i]) {
          tecla_especial = true;
          break;
          }
          }
          if(letras.indexOf(tecla) == -1 && !tecla_especial)
          return false;
          }
          
      input#nombre.text-input--underbar(type='text', placeholder='Nombre - Apellido', value = '', name='nombre',autocomplete='off', onkeypress='return soloLetras(event)')
      input#correo.text-input--underbar(type='text', placeholder='E-mail', value = '', name='correo',autocomplete='off' )
      input#username.text-input--underbar(type='text', placeholder='Nombre de Usuario', value = '', name='username',autocomplete='off', onkeypress='return soloLetrasyNumeros(event)')
      input#password.text-input--underbar.pr-password(type='password', placeholder='Contraseña', value='', name='password',autocomplete='off')
      br
      button#guarda.button.login-button Registrarme
    br
    div(align='center')
      p.p
        a#letreroAutenticarme.link(href='/login') Autenticarme
  

    #cargando.loader(style='display:none')
      .loader__square
      span.loader-label Validando..
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/onsen-css-components-default.css')

    link(rel='stylesheet', href='css/registro/style.css')
    link(rel='stylesheet', type='text/css', href='css/sweetalert.css')
    
    link(rel='stylesheet', href='css/registro/reset.css')
    link(rel='stylesheet', type='text/css', href='css/registro/jquery.passwordRequirements.css')

    script(src='js/sweetalert.min.js')
    script(src='js/jquery-1.11.3.min.js')
    script(src='js/jquery/jquery.passwordRequirements.js')
    script(src='js/modernizr.js')
    script(src='js/registro.js')

      
