doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='google', value='notranslate')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='manifest', href='/manifest.json')

    
    title!= titulo
  body
    .loading
    header
      #titulo Bienvenid@ #{usuario}
      #divMic

        a(href='/change_password')
            img#change_password(src='img/password.png' border = "0")

        img#help(src='img/help2.png' border = "0")

        a(href='/logout')
            img#logout(src='img/logout2.png' border = "0")

        
        
    #todos
    link(rel='stylesheet', type='text/css', href='css/estilos.css')
    link(rel='stylesheet', type='text/css', href='css/sweetalert2.min.css')
    link(rel='stylesheet', type='text/css', href='css/animate.css')
 


    script(src='js/sweetalert2.min.js')
    script(src='js/jquery-1.11.3.min.js')
    script(src='js/script.js')
