doctype html
html(lang='en')
  head
    title ToyMei - Cardboard
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='manifest', href='manifest.json')
  body
    #example
    #izq.txt
    #der.txt
    #tiempoizq.txt
    #tiempoder.txt
    #repeticionesizq.txt
    #repeticionesder.txt

    input#id_ejercicio(type='text', value = '#{id_ejercicio}', name='id_ejercicio', style="display:none")
    link(rel='stylesheet', type='text/css', href='../css/estilos_juego.css')
    link(rel='stylesheet', type='text/css', href='../css/sweetalert.css')


    script(src='../js/artyom.min.js')
    script(src='../js/sound/createjs-2015.05.21.min.js')
    script(src='../js/three/three.min.js')
    script(src='../js/three/threex.dynamictexture.js')
    

    script(src='../js/moment.min.js')

    script(src='../js/StereoEffect.js')
    script(src='../js/DeviceOrientationControls.js')
    script(src='../js/OrbitControls.js')
    script(src='../js/cannon.js')
    
    script(src='../js/sweetalert.min.js')
    script(src='../js/jquery-1.11.3.min.js')
    script(src='../js/script_juego.js')

